
<li class="grey">
    <a data-toggle="dropdown" class="dropdown-toggle" href="#" id="staff-tasks">
        <i class="ace-icon fa fa-tasks icon-animated-vertical"></i>
        <span class="badge badge-grey" id="task-count">0</span>
    </a>

    <ul class="dropdown-menu-left dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
        <li class="dropdown-header">
            <i class="ace-icon fa fa-tasks"></i>
            <span id="task-header-count">0</span> Tasks
        </li>

        <li class="dropdown-content">
            <ul class="dropdown-menu dropdown-navbar" id="tasks-ul">
            </ul>
        </li>

        <li class="dropdown-footer"><a href="#" id="staff-tasks-load-more">Load more</a></li>
    </ul>
</li>
