<li class="purple">
    <a data-toggle="dropdown" class="dropdown-toggle" href="#" id="staff-notifs">
        <i class="ace-icon fa fa-bell icon-animated-bell"></i>
        <span class="badge badge-important" id="notif-count">0</span>
    </a>

    <ul class="dropdown-menu-left dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
        <li class="dropdown-header">
            <i class="ace-icon fa fa-bell"></i>
            <span id="notif-header-count">0</span> Notifications
        </li>

        <li class="dropdown-content">
            <ul class="dropdown-menu dropdown-navbar" id="notifications-ul">
            </ul>
        </li>

        <li class="dropdown-footer"><a href="#" id="staff-notifs-load-more">Load more</a></li>
    </ul>
</li>
